services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    restart: always
    environment:
      - DOCKER_API_VERSION=1.41
    command:
      - "--api.insecure=true"
      - "--api.dashboard=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=web_net"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web_net

  cv-db:
    image: postgres:14
    container_name: cv-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: changethis123
      POSTGRES_DB: app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_net

  cv-backend:
    image: {{ docker_username }}/backend:latest
    container_name: cv-backend
    restart: always
    environment:
      - DOMAIN={{ ansible_host }}
      - ENVIRONMENT=production
      - PROJECT_NAME=Full Stack FastAPI Project
      - STACK_NAME=full-stack-fastapi-project
      - API_V1_STR=/api/v1
      - SECRET_KEY=your_secret_key_here
      - FIRST_SUPERUSER=chanllenge@devopsdojo.com
      - FIRST_SUPERUSER_PASSWORD=devopsdojo57
      - POSTGRES_SERVER=cv-db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=app
      - POSTGRES_USER=app
      - POSTGRES_PASSWORD=changethis123
      - BACKEND_CORS_ORIGINS=http://{{ ansible_host }},http://localhost,http://localhost:5173
    command: >
      bash -c "PYTHONPATH=/app alembic upgrade head && 
               PYTHONPATH=/app python app/initial_data.py && 
               uvicorn app.main:app --host 0.0.0.0 --port 8000"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web_net"
      - "traefik.http.routers.backend.rule=PathPrefix(`/api/v1`) || PathPrefix(`/docs`) || PathPrefix(`/redoc`) || PathPrefix(`/openapi.json`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=8000"
    networks:
      - app_net
      - web_net
    depends_on:
      - cv-db

  cv-frontend:
    image: {{ docker_username }}/frontend:latest
    container_name: cv-frontend
    restart: always
    environment:
      - VITE_API_URL=http://{{ ansible_host }}/api
    volumes:
      - /home/ubuntu/nginx.default.conf:/etc/nginx/conf.d/default.conf:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
      - "traefik.http.routers.frontend.entrypoints=web"
      - "traefik.http.routers.frontend.priority=1"
      - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - web_net
    depends_on:
      - cv-backend

networks:
  web_net:
    external: true
  app_net:
    driver: bridge

volumes:
  postgres_data: